<div class="movie-details">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Movie Details</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar>

  <div class="content-container">
    <mat-spinner
      *ngIf="loading"
      diameter="40"
      class="loading-spinner"
    ></mat-spinner>

    <mat-card *ngIf="!loading && movie">
      <div class="movie-content">
        <div class="poster-section">
          <img
            [src]="movie.poster"
            alt="{{ movie.title }}"
            *ngIf="movie.poster !== 'N/A'"
          />
          <div class="no-poster" *ngIf="movie.poster === 'N/A'">
            <mat-icon>movie</mat-icon>
          </div>
        </div>

        <div class="details-section">
          <h1>{{ movie.title }}</h1>
          <div class="metadata">
            <span class="year">{{ movie.year }}</span>
            <span class="type">{{ movie.type }}</span>
          </div>

          <div class="rating-section">
            <h3>Rate this movie</h3>
            <div class="stars">
              <button
                mat-icon-button
                *ngFor="let star of [1, 2, 3, 4, 5]"
                [color]="userRating >= star ? 'accent' : ''"
                (click)="onRateMovie(star)"
              >
                <mat-icon>star</mat-icon>
              </button>
            </div>
            <p class="current-rating" *ngIf="movie.averageRating">
              Average Rating: {{ movie.averageRating.toFixed(1) }} / 5
            </p>
          </div>

          <div class="movie-info" *ngIf="movie.imdbId">
            <a
              mat-raised-button
              color="accent"
              [href]="'https://www.imdb.com/title/' + movie.imdbId"
              target="_blank"
            >
              <mat-icon>movie</mat-icon>
              View on IMDB
            </a>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
